---
---

@import "tachyons";

body {
  @extend .black-80;
}

p, li, strong {
  line-height: 1.4;
}

a {
  @extend .blue;
}

li {
  @extend .pb2;
}

.mt3r {
  margin-top: 3rem;
}

.home {
  .section-header {
    @extend .f3, .bb, .bw2, .pb2, .mb3;
  }
  
  .items {
    h3 {
      @extend .mt0, .mb1;
      font-size: 1.15rem;
      
      a { @extend .link; }
    }
    p { @extend .mt0; }
  }
}

.work {
  img {
    @extend .mb2;
    width: 125px;
  }
  
  .project {
    .col2 {
      
      p:first-child {
        @extend .mt0;
      }
      
      ul {
        @extend .mb0;
      }
    }
  }
}
