---
---

@import "tachyons", "syntax-highlighting";

body {
  @extend .black-80;
}

h1 { @extend .f2; }
h2 { @extend .f3; }
h3 { @extend .f4; }
li { @extend .pb2; }
p, li {
  @extend .f4, .f5-ns;
  line-height: 1.4;
}
a { @extend .blue; }

hr {
  @extend .bg-black-10;
  border: none;
  height: 3px;
}

.mt3r {
  margin-top: 3rem;
}

.article {
  @extend .mw7;
}

.home {
  .section-header {
    @extend .f3, .bb, .bw2, .pb2, .mb3;
  }

  .items {
    h3 {
      @extend .mt0, .mb1;
      font-size: 1.15rem;

      a { @extend .f4, .link; }
    }
    p { @extend .mt0; }
  }
}

.work {
  img {
    @extend .mt3, .mt2-ns, .mb3;
    width: 125px;
  }

  .project {
    .col2 {

      p:first-child {
        @extend .mt0;
      }

      ul {
        @extend .mb0;
      }
    }
  }
}

.slides {
  @extend .mw9;
}

// Blog ////////////////////////////////////////////////////////////////////////

article {
  @extend .mb4;
}

.post-date-icon {
  @extend .relative;
  top: 2px;
  margin-right: 2px
}

// Code ////////////////////////////////////////////////////////////////////////

code {
  @extend .pb0, .ba, .bw1, .b--black-10, .br2;
  padding: 0 4px;
  font-family: 'Source Code Pro', monospace;
  word-wrap: break-word;
  background: rgb(250, 250, 250);
}

pre {
  @extend .br2;

  code {
    @extend .pa2, .lh-copy, .db, .overflow-y-auto;
    word-wrap: normal;
    background: #1e2832;
    color: #fff;

    /* long code snippets */

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track-piece {
      @extend .bg-black-10;
      border-bottom-left-radius: .15rem;
      border-bottom-right-radius: .15rem;
    }

    &::-webkit-scrollbar-thumb {
      @extend .bg-white-40;
      border-bottom-left-radius: .15rem;
      border-bottom-right-radius: .15rem;
    }
  }
}
