---
layout: main
---

<h1>Game dev blog</h1>

{% for post in site.posts %}
  {% if post.categories contains 'game dev' %}
    <article class="post-excerpt">
      <header>
        <h2>
          <a class="link" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </h2>
      </header>

      <div class="post-meta">
        <img class="post-date-icon" src="/assets/img/calendar.svg" alt="calendar icon">
        <span class="post-date">{{ post.date | date: "%B %e, %Y" }}</span>
      </div>

      <div class="post-content">
        {{ post.excerpt }}
      </div>
      <a href="{{ post.url | prepend: site.baseurl }}">Read More...</a>
    </article>
  {% endif %}
{% endfor %}
