<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tom Black{% unless page.title == 'home' %} — {{ page.title }}{% endunless %}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
  </head>

  <body>
    <nav>
      <div class="ml0-ns ml2"><a class="f2 fw9 link white" href="/">TB</a></div>
      <div class="fr relative" style="top:-2.14rem">
        <a class="mr3" href="mailto:tom@blacktm.com"><img src="/assets/img/mail.svg" alt="email"></a>
        <a class="mr3" href="https://twitter.com/blacktm"><img src="/assets/img/twitter.svg" alt="twitter"></a>
        <a class="mr2" href="https://github.com/blacktm"><img src="/assets/img/github.svg" alt="github"></a>
      </div>
    </nav>

    <main class="{{ page.style }} mw7 mv3 ph3 center">
      {{ content }}
    </main>
  </body>

  {% include google-analytics.html %}
</html>
